body{text-transform: capitalize;
margin: 0;
padding: 0;
color: #F4DF4EFF;
background:#010203;}
.nav{width: 100%;
background: #17181ab9;}
.nav .center{text-align: center;}


.second{
text-align: center;}
.second .typing{color: rgb(255, 255, 255);
position: relative;}
.second .typing::after{
    border-right: 2px solid black;
    content: "";
    /*left: 0;*/
  background-color:white;
    position: absolute;
    width: 8px;
    height: 100%;
    
    animation: typing 0.4s infinite ease;
    
}
@keyframes typing {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    } 
   }

   .links{
       margin-top: 5%;
text-align: center;}
   .links a{margin-left: 5rem;
text-decoration: none;
color: black;
padding: 15px 15px;
border-radius: 5px;
background: white;
box-shadow: 0 0px 8px 0 rgb(255, 255, 255);}

nav a.icon img{display: none;}


@media (max-width:425px) and (min-width:00px) {

    .links{
        margin-top: 5%;
        text-align:unset;
        position: absolute;
        top: 1.3rem;
        left: -5rem;
 }
    .links a{margin-left: 5rem;
 text-decoration: none;
 color: black;
 padding: 15px 15px;

 border-bottom: 3px solid #000;
 margin-left: 5px solid rgb(172, 96, 96);
 display:block;
 border-radius: 5px;
 background: white;
 box-shadow: 0 0px 8px 0 rgb(255, 255, 255);}
 nav a.icon img{
    text-align: left;
    width: 1rem;
    position: absolute;
    top: 0%;
    padding: 11px 11px ;
    background: white !important;
    color: red;
    display: block;
}

}
