


body{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    background: rgb(0, 0, 0);
    color: white;
 overflow: hidden;
  
}
.icon{display: none;}




.nav-bar{margin-top: -0.2rem;
height: 2rem;
background: rgb(54, 53, 53);}
 .left a{text-align: center;
margin-left: 25%;}

/*.nav-bar .left{}
.nav-bar .right{}*/
.img-bg img{width: 75%;
    text-align: center;
    margin-top: 4rem;
    height: 35rem;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    position:relative;
    margin-right: auto;
    box-shadow: 0 5px 50px 0 rgba(255, 255, 255, 0.171);
}
.img-bg .cover{width: 75%;
    text-align: center;
    margin-top: 3.8rem;
    height: 35rem;
    background: rgba(0, 0, 0, 0.479);
    position: absolute;
    display: block;
    margin-left: auto;
    z-index: 1;
    top: 3.3%;
    left: 12.5%;
    margin-right: auto;}

    .wrapping-text{display: inline-flex;
    margin-left: auto;
  margin-right: auto ;
position:absolute;
z-index: 1;
 top: 20%;
 font-size: 2.5rem;
 font-family:'Times New Roman', Times, serif;
  left: 33%;
}

.wrapping-text .fixed-text-one{margin-left: 0.5rem;
  font-size: 2.5rem;}
  .wrapping-text ul.moving-text{margin-top:0rem;
    color: rgb(0, 0, 0);
    margin-left: -1.4rem;
  }

  .wrapping-text .moving-text{position: relative;
  margin-top:-4px;
  margin-left: 0.5rem;
  color: red;
font-size: 3rem;}

  .wrapping-text .moving-text::after{
    border-right: 2px solid black;
    content: "";
    /*left: 0;*/
  background-color:white;
    position: absolute;
    width: 8px;
    height: 100%;
    
    animation: typing 0.5s infinite ease;
  }


  @keyframes typing {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    } 
   }
.buttons{
text-align: center;
margin-top: -8%;


}
.buttons a{color: black;
text-decoration: none;
padding: 1rem 2rem;
z-index: 1;
border-radius: 10px;
border: 3px solid rgb(0, 0, 0);
width: 100%;
position: relative;
margin-left: 3rem;
font-size: 1.1rem;
box-shadow: 0 5px 50px 0 rgb(78, 65, 6);
background: rgba(255, 196, 0, 0.555);
}
.buttons a:hover{color: white;
transition: 0.5s;
border: 2px solid white;
box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.466);}


.menu-button{display: none;}
.buttons a.active {border:2px solid white;
  color: white;}
a.active-one{color: white;
border:2px solid white;}




   @media (max-width: 600px){
     
     .wrapping-text{display: inline-flex;
      margin-left: auto;
    margin-right: auto ;
  position:absolute;
  z-index: 1;
   top: 15% !important;
   font-size: 1.4rem !important;
   font-family:'Times New Roman', Times, serif;
    left: 17% !important;
  }
  .wrapping-text .fixed-text-one{margin-left: 0rem;
    font-size: 2.7rem !important;
  position: absolute;
top: 1.9rem !important;}
    .wrapping-text ul.moving-text{
      color: rgb(0, 0, 0);
      position: absolute;
      
      margin-left: 0rem;
      margin-top:5rem !important;
    }
  
    .wrapping-text .moving-text{position: relative;
    top: 2.5rem;
    color: red ;
    margin-left: -2rem !important;
 text-align: center;
    font-size: 3rem !important;}

    .img-bg .cover{width: 75%;
      text-align: center;
      margin-top: 2rem;
      height: 35rem;
      background: rgba(0, 0, 0, 0.479);
      position: absolute;
      display: block;
      margin-left: auto;
      z-index: 1;
      top: 3.3%;
      left: 12.5%;
      margin-right: auto;}

      .buttons{
        text-align: left;
        margin-top: -21rem;
        display: none;
        }
        .buttons.responsive {position: relative;}
     /*   .buttons a:not(:first-child) {
          display: none;
        }*/
        .buttons a{color: black;
        text-decoration: none;
        padding: 1rem 2rem;
        z-index: 1;
        border-radius:0px 50px 50px 0px;
        border: 3px solid rgb(0, 0, 0);
        width:88%;
text-align: center;
        display: block;
        position: relative;
        margin-left: 0rem;
        transition: 0.6s;
        font-size: 1.1rem;
        box-shadow: 0 5px 50px 0 rgba(0, 183, 255, 0.212);
        background-image: linear-gradient(45deg, rgba(0, 255, 200, 0.986) 70%, rgb(27, 77, 74) 10%) ;
        margin-top: 1rem;}
        
        .buttons a:hover{color: white;
        transition: 0.6s;
        background-image: linear-gradient(45deg, rgba(229, 255, 0, 0.986) 30%, rgba(0, 162, 255, 0.767) 30%);
        border: 2px solid white;
        box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.466);}
        .buttons a.active-one {border:2px solid white;
           background-image: linear-gradient(45deg, rgba(229, 255, 0, 0.986) 30%, rgba(0, 162, 255, 0.767) 30%);
        color: white;}
        
a.icon{display: block;
color: white;
background: red;
width: 1.8rem;
margin-top: 0px;
top: 0px !important;
padding:0px 0px;
position: absolute;
background: white;
-webkit-text-fill-color: white;
border-radius: 0%;
height: 1.8rem;
}
.buttons.active{display: block
  ;}


   }




















   @media (max-width: 1366px){
    .img-bg img{width: 80%;
      text-align: center;
      margin-top: 2rem;
      height: 20rem;
      display: block;
      margin-left: auto;
      position:relative;
      margin-right: auto;
  }
  .img-bg .cover{width: 80%;
    text-align: center;
    margin-top: 2rem;
    height: 35rem;
    background: rgba(0, 0, 0, 0.479);
    position: absolute;
    display: block;
    margin-left: auto;
    z-index: 1;
    top: 3.3%;
    left: 10%;
    margin-right: auto;}


    .wrapping-text{display: inline-flex;
      margin-left: auto;
    margin-right: auto ;
  position:absolute;
  z-index: 1;
   top: 20%;
   font-size: 2.5rem;
   font-family:'Times New Roman', Times, serif;
    left: 23%;
  }
  
  .wrapping-text .fixed-text-one{margin-left: 0.5rem;
    font-size: 2.5rem;}
    .wrapping-text ul.moving-text{margin-top:0rem;
      color: rgb(0, 0, 0);
      margin-left: -1.4rem;
    }
  
    .wrapping-text .moving-text{position: relative;
    margin-top:-4px;
    margin-left: 0.5rem;
  font-size: 3rem;}
   





}












